@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;1,200;1,300;1,400&display=swap');

@import url('http://fonts.cdnfonts.com/css/sf-pro-display');

@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Assistant:wght@200;300;400;500;600;700;800&family=Baloo+Thambi+2&family=Cairo:wght@200;300;400;500;600;700;800;900&family=Catamaran:wght@100;200;300;400;500;600;700;800;900&family=Cedarville+Cursive&family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Fira+Code:wght@300;400;500;600;700&family=Hind+Siliguri:wght@300;400;500;600;700&family=Hind:wght@300;500;600;700&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merriweather+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Mukta:wght@200;300;400;500;600;700;800&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Oxygen:wght@300;400;700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&family=Varela+Round&family=Vazirmatn:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'SF Pro Display', 'roboto', 'sans-serif';
  user-select: none;
  /* color: #1d1d1f; */
  -webkit-tap-highlight-color: transparent;
}

html, body {
  display:flex; 
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow-x: hidden;
  min-width: 100%;
  min-height: 100vh;
  background-color: #fff;
}

img {
  pointer-events: none !important;
  user-select: none !important;
}

/* Javascript */

.search-box.active {
  opacity: 1;
  pointer-events: all;
}

.search-box-container.active {
  transform: translateX(0px);
}

.search-banner.active {
  opacity: 1;
  pointer-events: all;
}

.nav-container.active {
  opacity: 0;
  transform: translateX(50px);
}

.mobile-nav.active {
  opacity: 1;
  pointer-events: all;
  height: 100vh;
}

.mobile-nav.active .mobile-nav-container {
  opacity: 1;
}




.mobile-nav.active .mobile-nav-item {
  opacity: 1;
}

.mobile-nav.active .mobile-search-wrapper {
  opacity: 1;
  -webkit-transition-delay: 0.27s;
          transition-delay: 0.27s;
}
.mobile-nav.active .mobile-nav-item:nth-child(1) {
  -webkit-transition-delay: 0.34s;
          transition-delay: 0.34s;
}
.mobile-nav.active .mobile-nav-item:nth-child(2) {
  -webkit-transition-delay: 0.41s;
          transition-delay: 0.41s;
}
.mobile-nav.active .mobile-nav-item:nth-child(3) {
  -webkit-transition-delay: 0.48s;
          transition-delay: 0.48s;
}
.mobile-nav.active .mobile-nav-item:nth-child(4) {
  -webkit-transition-delay: 0.55s;
          transition-delay: 0.55s;
}
.mobile-nav.active .mobile-nav-item:nth-child(5) {
  -webkit-transition-delay: 0.62s;
          transition-delay: 0.62s;
}
.mobile-nav.active .mobile-nav-item:nth-child(6) {
  -webkit-transition-delay: 0.69s;
          transition-delay: 0.69s;
}

.burger-container.active {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
.burger-container.active #burger .bar {
  -webkit-transition: all 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition: all 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}
.burger-container.active #burger .bar.topBar {
  -webkit-transform: translateY(4px) rotate(45deg);
          transform: translateY(4px) rotate(45deg);
}
.burger-container.active #burger .bar.btmBar {
  -webkit-transform: translateY(3px) rotate(-45deg);
          transform: translateY(3px) rotate(-45deg);
}

.bag.active {
  opacity: 0;
  pointer-events: none;
}

/* remove transition on resize (removeTranstionOnResize.js) */
.remove-all-transitions {
  transition: none !important;
  -webkit-transition: none !important;
}

/* Style scrollbar */
::-webkit-scrollbar-thumb {
	background-color: #606060;
	border: 4px solid transparent;
	border-radius: 8px;
	background-clip: padding-box;
 }
 
 ::-webkit-scrollbar-thumb:hover {
	background-color: #909090;
 }

 ::-webkit-scrollbar-track {
   background: hsla(0,0%,100%,.8);
 }
 
 ::-webkit-scrollbar {
	width: 16px;
 }



/* --------------------------- Header --------------------------- */
.nav {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: hsla(0,0%,100%,.8);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
  position: fixed;
  top: 0;
  left: 0;
  opacity: 1;
  z-index: 2002;
  user-select: none !important;
}

.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 100%;
  height: 100%;
  padding: 0 20px;
  opacity: 1;
  transform: translateX(0px);
  transition: all 400ms ease;
  position: relative;
  z-index: 1;
  max-width: 1000px;
}

#logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
  z-index: 2999;
  padding-bottom: 0.2rem;
}

#logo a {
  text-decoration: none;
  color: #1d1d1f;
  font-weight: 700;
  font-size: 21px;
  white-space: nowrap;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: italic;
  font-family: 'Cedarville Cursive' !important;
}

.nav-categories {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.nav-item {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  position: relative;
}

.nav-link {
  color: #1d1d1f;
  text-decoration: none;
  font-size: 12px;
  font-weight: 400;
  transition: color 200ms ease;
  white-space: nowrap;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotateY(0deg);  
}

.nav-link:hover {
  color: #707070;
}

.nav-profile {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 2rem;
}

.profile-name a{
  color: #1d1d1f;
  text-decoration: none;
  width: 100%;
}

.bag {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 40px;
  width: 100%;
  transition: opacity 500ms ease;
}

.bag-view-content {
  position: absolute;
  background: #fff;
  width: 300px;
  right: -30px;
  top: 60px;
  display: flex;
  justify-content: center;  
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 17px;
  list-style-type: none;
  opacity: 0;
  pointer-events: none;
  transition: opacity 300ms ease;
  /* box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.1); */
}


.bag-view-content.active {
  pointer-events: all;
  opacity: 1;
}

.bag-added-item-container {
  width: 100%;
  text-align: center;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bag-view-container {
  list-style-type: none;
  display: flex;
  justify-content: center;  
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
}

.bag-view-item {
  padding: 0.9rem;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  width: 100%;
}

.bag-view-link {
  font-size: 16px;
  color: #0066cc;
  text-decoration: none;
}

.bag-view-link:hover {
  text-decoration: underline;
}

/* Triangle */

.triangle-container {
  position: absolute;
  top: -15px;
  right: 30px;
  transform: rotate(90deg);
  background-color: #fff;
}

.triangle {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid rgba(0, 0, 0, 0.2);
}

.inner-triangle {
  position: relative;
  top: -11px;
  left: 1px;
  width: 0;
  height: 0;
  border-top: 11px solid transparent;
  border-bottom: 11px solid transparent;
  border-right: 11px solid #fff;
}


.search {
  width: 100%;
  margin-right: 1rem;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.search, .search-box-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  /* background-color: red; */
}

.search-svg {
  position: relative;
  top: 1.4rem;
  pointer-events: none;
  background-color: none;
}

.search-box-icon {
  cursor: default;
}

.nav-svg {
  fill: blue !important;
}

/* Search section */

.search-box {
  background: hsla(0,0%,100%,.8);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2003;
  opacity: 0;
  pointer-events: none;
  transition: all 400ms ease;
}

.search-box-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0 10px;
  transform: translateX(50px);
  transition: all 400ms ease;
}

.search-input {
  width: 100%;
  max-width: 700px;
  height: 35px;
  outline: none;
  font-size: 16px;
  padding: 0 4px;
  border-radius: 7px;
  border: none;
  background: transparent;
  color: #1d1d1f;
}

.search-close-icon {
  cursor: pointer;
}

.search-banner {
  background: #0000007A;
  background: transparent;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  height: 100vh;
  width: 100%;
  position: fixed;
  left: 0;
  top: 50px;
  pointer-events: none;
  opacity: 0;
  z-index: 1999;
  transition: opacity 400ms ease;
}

.mobile-nav {
  display: none;
} 

.burger-container {
  display: none;
}

.mobile-nav .search-box-icon {
  padding: 0 0px;
  position: relative;
}

@media screen and (max-width: 950px) {
  .nav-container {
    display: flex;
    gap: 1rem;
  }
}

@media screen and (max-width: 930px) {
  .nav-profile {
    display: flex;
    gap: 0.5rem;
  }

  .nav-item {
    padding: 0 10px;
  }
}

@media screen and (max-width: 830px) {
  .nav-container {
    padding: 0 0px;
  }

  .nav-categories {
    display: none;
  }

  .nav-container {
    display: flex;
    justify-content: space-between;
  }

  .search {
    display: none;
  }

  .search-box {
    display: none;
  }

  .bag {
    position: relative;
    z-index: 999;
    height: 50px;
    width: 60px;
  }

  .bag-view-content {
    position: absolute;
    right: 5px;
  }

  .triangle-container {
    position: absolute;
    top: -15px;
    right: 20px;
  }
  

  .mobile-nav {
    display: flex;
    justify-content: center;
    min-width: 100%;
    background: hsla(0,0%,100%,.8);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2001;
    pointer-events: none;
    height: 0px;
    -webkit-transition: all 0.5s ease, background 1s ease, visibility 0.45s ease, border 0s ease;
    transition: all 0.5s ease, background 1s ease, visibility 0.45s ease, border 0s ease;
   -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
  } 

  .mobile-nav-container {
    width: 100%;
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-direction: column;
    margin-bottom: auto;
    margin-top: 70px;
    opacity: 0;
    -webkit-transition: all 0.5s ease, background 1s ease, visibility 0.45s ease, border 0s ease;
    transition: all 0.5s ease, background 1s ease, visibility 0.45s ease, border 0s ease;
   -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
  }

  .mobile-nav-search-input-container {
    display: flex;
    width: 100%;
    max-width: 584px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 1rem;
  }

  .mobile-search-wrapper {
    display: flex;
    background-color: #fff;
    border-radius: 7px;
    width: 100%;
    height: 40px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0 0.7rem;
    opacity: 0;
    -webkit-transition: opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99), -webkit-transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition: opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99), -webkit-transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition: transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99), opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition: transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99), opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99), -webkit-transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  }

  .mobile-nav-search-input {
    display: flex;
    background-color: transparent;
    border: none;
    width: 100%;
    outline: none;
    color: #1d1d1f;
    font-size: 15px;
  }

  .mobile-nav-menu {
    transition: all 500ms ease;
    width: 100%;
    list-style-type: none;
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .mobile-nav-item {
    display: flex;
    justify-content: center;
    align-items: start;
    margin: 0 2rem;
    position: relative;
    height: 100%;
    width: 100%;
    opacity: 0;
    -webkit-transition: opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99), -webkit-transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition: opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99), -webkit-transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition: transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99), opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition: transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99), opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99), -webkit-transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  }

  .burger-container {
    position: relative;
    display: inline-block;
    height: 50px;
    width: 50px;
    cursor: pointer;
    z-index: 999;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transition: all 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition: all 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  }
  .burger-container #burger {
    width: 15px;
    height: 8px;
    position: relative;
    display: block;
    margin: -4px auto 0;
    top: 50%;
  }
  .burger-container #burger .bar {
    width: 100%;
    height: 1px;
    display: block;
    position: relative;
    background: #000;
    -webkit-transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    -webkit-transition-delay: 0s;
            transition-delay: 0s;
  }
  .burger-container #burger .bar.topBar {
    -webkit-transform: translateY(0px) rotate(0deg);
            transform: translateY(0px) rotate(0deg);
  }
  .burger-container #burger .bar.btmBar {
    -webkit-transform: translateY(6px) rotate(0deg);
            transform: translateY(6px) rotate(0deg);
  }

  /* --------------------------------------Transitions--------------------------------------- */
  .mobile-search-wrapper {
    -webkit-transition-delay: 0.49s;
            transition-delay: 0.49s;
  }
  .mobile-nav-item:nth-child(1) {
    -webkit-transition-delay: 0.42s;
            transition-delay: 0.42s;
  }
  .mobile-nav-item:nth-child(2) {
    -webkit-transition-delay: 0.35s;
            transition-delay: 0.35s;
  }
  .mobile-nav-item:nth-child(3) {
    -webkit-transition-delay: 0.28s;
            transition-delay: 0.28s;
  }
  .mobile-nav-item:nth-child(4) {
    -webkit-transition-delay: 0.21s;
            transition-delay: 0.21s;
  }
  .mobile-nav-item:nth-child(5) {
    -webkit-transition-delay: 0.14s;
            transition-delay: 0.14s;
  }
  .mobile-nav-item:nth-child(6) {
    -webkit-transition-delay: 0.07s;
            transition-delay: 0.07s;
  }

  .mobile-nav-item:last-child {
    border: none;
  }

  .mobile-nav-link {
    max-width: 584px;
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
    color: #1d1d1f;
    height: 100%;
    padding: 12px 0;
    display: block;
    transition: all 200ms ease;
  }

  .mobile-nav-item:last-child .mobile-nav-link {
    border: none;
  }

  .mobile-nav-link:hover {
    color: #707070;
  }
  
}

@media screen and (max-width: 628px) {
  .mobile-search-wrapper {
    max-width: none !important;
    width: 92%;
  }

  .mobile-nav-link {
    max-width: none !important;
  }
}

@media screen and (max-width: 400px) {
  .mobile-nav-search-input {
    font-size: 0.95rem;
  }

  .mobile-search-wrapper {
    margin: 0 30px;
  }

  .mobile-nav-item {
    margin: 0 30px;
  }
}

@media screen and (max-width: 320px) {
  .mobile-nav-search-input {
    font-size: 0.9rem;
  }

  .bag-view-content {
    width: 250px;
  }
}

/* --------------------------- #Header --------------------------- */














/* --------------------------- Products --------------------------- */

.products {
  margin-top: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.products-header {
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  font-weight: 500;
}

.products-header-item {
  height: 100%;
  width: 910px;
  position: relative;
  left: 0.8rem;
}

.products-header-item span {
  font-size: 14px;
  position: relative;
  margin-right: 30px;
  cursor: pointer;
}

.header-item2 {
  color: #707070;
  font-weight: 400;
}

.header-item3 {
  color: #707070;
}

.header-bb-slider {
  position: absolute !important;
  bottom: -11px !important;
  left: 0;
  width: 94px;
  height: 2px;
  border-radius: 100px;
  background-color: #1d1d1f;
  pointer-events: none;
}

.categories-header-item {
  padding: 0 7px;
  padding-bottom: 0.7rem;
  border-bottom: 2px solid #1d1d1f;
  text-transform: capitalize !important;
}

.tiles {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  width: 910px;
  padding: 20px 0;
}

.tile {
  width: 292px;
  border-radius: 0px;
  position: relative;
  z-index: 2000;
  /* transition: all 200ms ease; */
}

.tile-img {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
}

.tile-img img {
  width: 200px;
  height: 200px;
  object-fit: contain;
}

.tile-description {
  padding: 0 5px;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  flex-direction: column;
  min-height: 90px;
}

.tile-description .product-name {
  margin-top: 1rem;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
  color: #1d1d1f;
  transition: color 200ms ease;
  text-transform: capitalize;
}

.product-name:hover {
  color: #0066cc;
  
}

.tile-description .product-price {
  font-size: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 0.95rem;
  font-weight: 400;
  color: #1d1d1f;
}

@media screen and (max-width: 950px) {
  .products-header {
    width: 600px;
  }

  .tiles {
    width: 600px;
  }

  .products-header-item {
    position: relative;
    left: 0;
  }
}

@media screen and (max-width: 650px) {

  .products-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
  }

  .products-header-item {
    width: 100%;
    /* white-space: nowrap; */
   }

  .tiles {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .tile {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    width: 90%;
  }

  .tile:last-child {
    border-bottom: none;
  }
}

@media screen and (max-width: 360px) {

  .tile-img img {
    width: 150px;
  }

}




/* --------------------------- #Products --------------------------- */











/* --------------------------- Signup / Signin --------------------------- */

.form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 550px;
  height: max-content;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}

.header {
  font-size: 34px;
  font-weight: 700;
  color: #1d1d1f;
  margin-bottom: 0.5rem;
}

.alert {
  border: none;
  border-radius: 5px;
  background-color: #ff3939;
  color: #fff;
  text-align: center;
  display: none;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  height: 59px;
  width: 100%;
  font-size: 1.1rem;
  font-weight: 500;
}

.intro-form-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.3rem;
  font-size: 18px;
  color: #1d1d1f;
  text-align: center;
  margin-bottom: 1rem;
}

.ending-text {
  font-size: 18px;
  color: #1d1d1f;
  text-align: center;
  margin-top: 1rem;
}


.intro-form-text a, .ending-text a {
  color: #0070c9;
  text-decoration: none;
}

.intro-form-text a:hover, .ending-text a:hover {
  text-decoration: underline;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.form .name-field {
  display: flex;
  gap: 1rem;
  width: 100%;
}

.form .field {
  width: 100%;
  border-radius: 5px;
}

.form .field input {
  width: 100%;
  border: none;
  border: 1px solid #d6d6d6;
  border-radius: 5px;
  padding: 18px 16px;
  font-size: 18px;
  outline: none; 
  background: hsla(0,0%,100%,.8);;
}

.submit-btn-field {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.submit-btn {
  padding: 18px 16px;
  width: 100%;
  font-size: 18px;
  font-weight: 600;
  background: #1a73e8;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  transition: background 400ms ease;
}

.submit-btn:hover {
  background: #318bff;
  
}

/* Password field */

.password-field {
  position: relative;
}

.password-field input {
  padding-right: 3.4rem !important;
}

.eye-close-svg-wrapper, .eye-open-svg-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 16px;
  margin: auto;
  cursor: pointer;
  height: calc(100% - 40%);
}

.eye-close-svg-wrapper {
  display: none;
}

.eye-open-svg-wrapper {
  display: none;
}

.gaptch-text {
  color: #fd2b24;
  position: absolute;
  left: -2.9rem;
  bottom: 0.5rem;
  display: none;
  font-size: 0.8rem;
  text-align: center;
  width: 100%;
}

.gaptcha-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .form-wrapper {
    width: 90%;
  }
}

/* --------------------------- #Signup / Signin --------------------------- */










/* --------------------------- Footer --------------------------- */

.footer {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: hsla(0,0%,100%,.8);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
  color: #1d1d1f;
  font-size: 12px;
  text-align: center;
  margin-top: auto;
}
/* --------------------------- #Footer --------------------------- */
















/* --------------------------- Product Page --------------------------- */

.page-product {
  margin-top: 100px;
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* border-bottom: 1px solid rgba(0, 0, 0, 0.1); */
}

.page-product-container {
  max-width: 910px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 3rem;
  margin-bottom: 20px;
  width: 100%;
}

.page-product-img img {
  width: 400px;
  height: 400px;
  object-fit: contain;
  /* position: absolute; */
}

.page-product-description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.page-product-name {
  font-size: 27px;
  font-weight: 500;
  color: #1d1d1f;
  text-transform: capitalize;
}

.page-product-price {
  margin-top: 0.7rem;
  font-size: 20px;
  color: #1d1d1f;
}


.page-product-left {
  padding-bottom: 1rem;
  /* border-bottom: 1px solid rgba(0, 0, 0, 0.1); */
}

.page-product-right {
  width: 100%;
}

.product-buy {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 1rem;
}

.product-buy-column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.product-buy-text {
  font-size: .9rem;
  font-weight: 500;
  text-align: center;
  color: #1d1d1f;
}

.shipping-fee-container {
  display: flex;
  gap: 0.5rem;
  margin-top: 0.7rem;
  padding-bottom: 1rem;
}

.shipping-fee-description {
  /* color: #f56300; */
  color: #1d1d1f;
  font-size: 1.1rem;
  font-size: 16px;
}

.shpping-fee {
  font-size: 16px;
  /* color: #f56300; */
  color: #1d1d1f;
}


.quantity {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.7rem;
  font-size: 16px;
  color: #1d1d1f;
  margin-top: 1rem;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.quantity-btn-container {
  display: flex;
  flex-direction: row;
  /* margin-top: 4rem; */
}

.quantity-btn {
  height: 35px;
  background-color: transparent;
  border: 1px solid #d6d6d6;
  width: 35px;
  color: #8d8d8d;
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quantity-btn i {
  font-size: 0.8rem;
}

.quantity-btn-increment {
  border-radius: 3px 0 0 3px;
}

.quantity-btn-decrement {
  border-radius: 0 3px 3px 0;
}

.quantity-input {
  border: none;
  border-top: 1px solid #d6d6d6;
  border-bottom: 1px solid #d6d6d6;
  outline: none;
  width: 50px;
  height: 35px;
  font-size: 1rem;
  color: #505050;
  text-align: center;
  pointer-events: none;
}

.stocks {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 0.7rem;
  font-style: italic;
}











.page-product-link {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
}

.page-product-link .buy-now-link {
  font-size: 18px;
  color: #0066cc;
  cursor: pointer;
}

.page-product-link .buy-now-link i, .page-product-link .add-to-cart-link i {
  font-size: 1rem;
}

.page-product-link .add-to-cart-link {
  font-size: 18px;
  color: #0066cc;
  cursor: pointer;
}

.page-product-link .buy-now-link:hover {
  text-decoration: underline;
}

.page-product-link .add-to-cart-link:hover {
  text-decoration: underline;
}











.product-description-section {
  /* color: #6e6e73;
  background: #f5f5f7; */
  background: #fff;
  color: #1d1d1f;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem 0;
  /* border-bottom: 1px solid rgba(0, 0, 0, 0.1); */
  margin-bottom: 30px;
}

.product-description-section-container {
  max-width: 910px;
  width: 100%;
}

.product-description-section-container header {
  font-size: 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 0.7rem;
  font-weight: 400;
  text-align: start;
}

.product-description-section-text {
  font-size: 14px;
  line-height: 20px;
  white-space: pre-line;
  color: #1d1d1f;
  position: relative;
  bottom: 0.5rem;
}








.product-review-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px 0;
  margin-bottom: 20px;
}

.product-review-section-container {
  max-width: 910px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.product-review-section-container header {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 0rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  width: 100%;
  padding-bottom: 0.7rem;
}

.reviews {
  display: flex;
  gap: 1.5rem;
  align-items: flex-start;
  padding: 20px 0px;
  /* border-bottom: 1px solid rgba(0, 0, 0, 0.1); */
  width: 100%;
}

.profile img {
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
}

.comment-box .profile-name {
  font-size: 14px;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  color: #1d1d1f;
  font-weight: 500;
}

.comment-box .comment-time {
  font-size: 14px;
  color: #707070;
}

.comment {
  font-size: 14px;
  margin-top: 0.5rem;
  line-height: 20px;
}



.user-review {
  display: flex;
  gap: 1.5rem;
  align-items: flex-start;
  padding: 20px 0px;
  padding-right: 0;
  width: 100%;
  position: relative;
  margin-bottom: 30px;
}

.type-comment-box {
  width: 100%;
  position: relative;
}

.send-review-input-container {
  width: 100%;
  position: relative;
}

.type-comment-box .comment-input {
  width: 100%;
  /* height: 40px; */
  height: 100%;
  resize: none;
  outline: none;
  background: transparent;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  font-size: 14px;
  word-wrap: break-word;
  word-break: break-all;
  white-space: pre-wrap;
  color: #1d1d1f;
  background: #fff;
}

.comment-input-border-bottom {
  background-color: #1d1d1f;
  width: 0;
  height: 2px;
  position: absolute;
  margin: auto;
  bottom: 0;
  right: 0;
  left: 0;
  transition: all 350ms ease;
}

.comment-input:focus ~ .comment-input-border-bottom{
  width: 100%;
}

.send-review-btn-container {
  width: 100%;
  display: flex;
  /* align-items: flex-end; */
  justify-content: flex-end;
  padding-top: 0.7rem;
  gap: 0.5rem;
}

.send-review {
  padding: 10px 10px;
  cursor: pointer;
  background: #6ab0f6;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  transition: background 200ms ease;
  opacity: 0;
  pointer-events: none;
}

.send-review.active {
  opacity: 1;
}

.send-review.active2 {
  pointer-events: all;
  background: #0066cc;
}

.cancel-review {
  padding: 10px 10px;
  cursor: pointer;
  background: transparent;
  border: none;
  border-radius: 4px;
  color: #707070;
  font-size: 14px;
  font-weight: 500;
  transition: background 200ms ease;
  opacity: 0;
  pointer-events: none;
}

.cancel-review.active {
  opacity: 1;
  pointer-events: all;
}

.page-product-img {
  display: flex;
  justify-content: center;
  align-items: center;
}  

@media screen and (max-width: 950px) {
  .page-product-img img {
    width: 300px;
    height: 300px;
  }  

  .page-product-left {
    padding: 0 25px;
  }

  .product-description-section {
    padding: 0 25px;
  }

  .product-review-section {
    padding: 0 25px;
  }

  .page-product-name {
    font-size: 30px;
  }
}

@media screen and (max-width: 790px) {
  .page-product-img img {
    width: 200px;
    height: 200px;
  }  
}

@media screen and (max-width: 700px) {
  .page-product-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 40px;
    gap: 0;
  }

  .page-product-right {
    padding: 0 25px;
  }

  .page-product-img img {
    width: 100%;
    height: 100%;
    max-width: 300px;
    max-height: 300px;
  }  
  
  .page-product-left {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 30px;
  }

  .product-buy {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 35px;
  }
}

@media screen and (max-width: 480px) {
  .page-product-name {
    font-size: 25px;
  }

  .page-product-price {
    font-size: 20px;
  }

  .quantity-text {
    font-size: 14px;
  }

  .stocks {
    font-size: 14px;
  }

  .shipping-fee-description {
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .shipping-fee {
    font-size: 14px;
  }
}

@media screen and (max-width: 400px) {
  .quantity {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
}




/* --------------------------- #Product Page --------------------------- */
















/* --------------------------- Search --------------------------- */


.search-page {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-page-container {
  max-width: 910px;
  width: 100%;
}

.no-result-container {
  height: calc(100vh - 50px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.search-result-text {
  font-size: 35px;
  font-weight: 500;
  color: #1d1d1f;
}

.search-page-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.7rem;
}

.search-page-icon svg {
  width: 100% !important;
  height: 100% !important;
  fill: #1d1d1f;
  max-width: 100px !important;
}

.search-result-text-small {
  font-size: 18px;
  font-weight: 400;
  margin-top: 0.7rem;
  max-width: 700px;
  text-align: center;
  line-height: 30px;
  word-wrap: break-word;
  word-break: break-all;
  color: #1d1d1f;
}







.search-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 100px;
  width: 100%;
}

.search-item .search-item-header {
  font-size: 18px;
  padding-bottom: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0 ,0.1);
  width: 100%;
}

.search-item .search-item-container {
  padding: 1rem 0;
  padding-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
}

.searched-item {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2rem;
}

.search-item-right {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.search-item-name {
  font-size: 17px;
  font-weight: 500;
  text-decoration: none;
  color: #1d1d1f;
}

.search-item-name:hover {
  color: #0066cc;
}

.search-item-description {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.search-item-short-description {
  font-size: 15px;
  font-weight: 400;
  color: #1d1d1f;
}

.search-item-links {
  display: flex;
  gap: 1rem;
}

.search-item-link {
  font-size: 15px;
  color: #0066cc;
  font-weight: 400;
  cursor: pointer;
  text-decoration: none;
}

.search-item-link i {
  font-size: 0.7rem;
}

.search-item-link:hover {
  text-decoration: underline;
}

.search-item-img-container img {
  width: 120px;
  height: 120px;
  object-fit: contain;
}

@media screen and (max-width: 950px) {
  .search-item {
    padding: 0 20px;
  }
}



/* --------------------------- #Search --------------------------- */
























/* --------------------------- Bag Page --------------------------- */

.bag-page {
  padding: 100px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bag-page-container {
  width: 910px;
}

.bag-page-header {
  font-size: 25px;
}

.bag-page-table {
  padding: 20px 10px;
}

.bag-page-table-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1.5rem 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.bag-page-table-item:first-child {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.bag-page-table-item:last-child {
  border-bottom: none;
}

.bag-page-table-item-product {
  display: flex;
  align-items: center;
  margin-right: 100px;
}

.bag-page-table-item-product img {
  width: 120px;
  height: 120px;
  object-fit: contain;
}

.bag-page-table-product-content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.bag-page-table-item-name {
  font-weight: 500;
  font-size: 17px;
  color: #1d1d1f;
}

.bag-page-item-price span {
  color: #1d1d1f;
}


.bag-page-table-item-quantity {
  position: relative;
  top: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
  margin-right: 50px;
}

.quantity-text {
  color: #707070;
  font-size: 14px;
}


.bag-page-table-item-total-price {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 170px;
  position: relative;
  top: 0.8rem;
  gap: 0.9rem;
  margin-right: 50px;
}

.item-total-price {
  font-size: 1.1rem;
}

.total-price-text {
  color: #707070;
  font-size: 14px;
}

.item-remove-btn {
  background-color: transparent;
  border: none;
  color: red;
  font-size: 1.05rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  position: relative;
  top: -3px;
}

.item-remove-btn:hover {
  text-decoration: underline;
}

.fa-ban {
  font-size: 0.8rem;
}






















.empty-bag-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  height: calc(100vh - 50px);
}

.empty-bag-message-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
}

.empty-bag-message {
  font-size: 1.2rem;
  color: #1d1d1f;
}

.empty-bag-text {
  font-size: 40px;
  font-weight: 400;
  color: #1d1d1f;
}

.bag-link-container {
  display: flex;
  gap: 1rem;
  margin-top: 0.5rem;
}

.bag-page-btn {
  padding: 20px 40px;
  font-size: 1.2rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.sign-in-bag-btn {
  background: #0070c9;
  color: #fff;
  font-weight: 500;
}

.bag-continue-shopping-btn {
  background: #ebebeb;
  color: #1d1d1f;
}











/* --------------------------- #Bag Page --------------------------- */

















